.signup_body{
    background-color: black;
    height: calc(100vh);
}

.signup_body_box{
    width: 350px;
    height: calc(100vh - 130px);
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup_body_box > h1{
    color: white;
    margin: 0px auto 20px auto;
}

.signup_body_box > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.signup_body_box > div > h3{
    color: white;
    font-size: 20px;
}

.signup_body_id > input, .signup_body_pw > input, .signup_body_email > input{
    width: 240px;
    height: 35px;
    padding: 0px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 0;
}

.signup_body_name > div > input{
    width: 118px;
    height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0;
}

.signup_bt_wrap{
    margin-top: 20px;
    width: 350px;
}

.signup_bt_wrap > button{
    margin: 25px auto 0px auto;
    border: 0;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
    background-color: orange;
    cursor: pointer;
}


