* {
  margin: 3px;
}
h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: whitesmoke;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  /* === HEADING STYLE #1 === */
  .one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  body {
    background-color: rgb(152, 241, 229);
  }

  .container {
    box-sizing: border-box;
    
  }

  .input {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;  
  flex: 100%;
  padding: 10px;
  width: 500px;
  height: fit-content;
  }

  form {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; 
    padding: 1px;
    background-color: whitesmoke;
  }
 #photo-picker{
  display:none;
 }
  .namecard {
    border: 1px solid black;
    box-sizing: border-box;
    float: right;
    width: 350px;
    background-color: white;
  }

  .picture {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 5px;
  }

  .information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .mi {
    font-size: 20px;
    margin-top: 10px;
  }

  .pi {
    float: right;
    font-size: 15px;
  }