@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NanumSquareNeo-Variable';
  
}

body {
    background-color: rgb(208, 208, 208);
}

h1 {
  margin: 50px 0 20px 100px;
}



label {
  cursor: pointer;
}

#imgFile {
  visibility: hidden;
}

#selectedColor {
   width: 70px;
   height: 30px;
   margin: 4px 10px 0px 4px;
}

/* 전체 */
.container {
  
 display: flex;
 flex-direction: row;

}

.item {

  word-break: break-all;


}


/* 메인박스 css */
.box {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 60px 20px 20px 60px;
    padding: 20px;
    background-color: white;
  }

  

.content p {
  text-align: center;
}


/*버튼*/

button {
  width: 100px;
  height: 30px;
}

#submitBtn {
  margin-left: -290px;
  background-color: rgb(255, 241, 86);
  border-color: rgb(208, 208, 208);
}

.button-container {
  display: flex;
}

.button-container button {
  margin: 5px;
  margin-bottom: 10px;
}


/* 만들어진 명함 */
.item {
  margin: 20px;
  padding: 20px;
}


.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
  margin: 10px;
  border: 2px black;
  border-radius: 20px;
 
}

#cardImg {
  width: 10vw;
  margin: 10px;
}