<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>멋사와 함께 하는 블로그 세미나</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="main_body_wrap">
        <div class="main_height_body_wrap">
            <div class="main_menu">
                <h2 onClick="location.href='/'">BLOG CRUD 연습하기</h2>
                <div class="main_right_menu">
                    {% if user.is_authenticated %}
                    <p class="userName">환영합니다 {{user.get_full_name}}님</p>
                    <button type="button" class="logoutBt" onclick="logout();">로그아웃</button>
                      {% else %}
                        <p onclick="location.href='{% url 'account:login' %}'">로그인</p>
                        <p onclick="location.href='{% url 'account:signup' %}'">회원가입</p>

                      {% endif %}
                </div>
            </div>
            <div class="main_body">
                <div class="main_top_body">
                    <img src="./../static/img/hoon.png"/>
                    <div>
                        <h1>
                            <div class="likelion_p">멋사</div>
                            와 함께 하는<br/>
                            게시판 CRUD 만들기
                        </h1>
                        <button type="button" onclick="location.href='{% url 'post:list' %}'">게시판 만들어보기</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer">
            <img src="./../static/img/LIKELION%20UNIV_brandlogo_white_forweb_221111.png"/>
        </div>
    </div>
</body>
</html>
