<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>게시글 수정하기</title>
<link rel="stylesheet" href="../static/css/post.css">
    <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
    <div class="post_body_wrap">
        <div class="main_menu">
            <h2 onClick="location.href='./index.html'">BLOG CRUD 연습하기</h2>
            <div class="main_right_menu">
                {% if user.is_authenticated %}
                    <p class="userName">환영합니다 {{user.get_full_name}}님</p>
                    <button type="button" class="logoutBt" onclick="logout();">로그아웃</button>
                {% else %}
                    <p onclick="location.href='{% url 'account:login' %}'">로그인</p>
                    <p onclick="location.href='{% url 'account:signup' %}'">회원가입</p>
                {% endif %}
            </div>
        </div>
        <div class="post_body">
            <form action = "{% url 'post:create' %}" method = "post">
                <div class="post_detail_wrap">
                    <div class="post_detail_title">
                        <input type="text" id="postTitle" name = "title" placeholder="제목을 입력해주세요."/>
                    </div>
                    <div class="post_detail_content">
                        <textarea id="postContent" name = "content" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                </div>
                <div class="post_bt_wrap">
                    <button type="button" onclick="completeNewPost_cbv();">
                        저장하기
                    </button>
                    <input id = "form_submit" type = "submit" style = "display:none">
                </div>
            </form>
        </div>
    </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="./../static/js/newPost.js"></script>
</html>ㄴ
