body{
    font-family: 'NanumGothic';
    font-family: 'NanumGothicLight';
    font-family: 'NanumGothic';
    font-family: 'NanumGothicBold';
    font-family: 'NanumGothicExtraBold';
}
.content-box-text-title {

    font-weight: bold;
    color: #F05000
  }
  
  .content-box-text {
  }
  .picture{
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  .tool-box-content {
    text-align: center;
  }
  .main-box{
    margin: 5vh 10vw 5vh 10vw;
    padding:5vw;
    border: 2px solid black;
}
  .tool-icon {
    width: 100px;
    height: 100px;
  }
  
  .title-box{
    display: flex;
    justify-content: space-between;
  }
  .title-box-text{
    text-align: center;
    font-size:20px;
  }
  .grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(40%,auto));
    column-gap : 20px;
    row-gap : 10px;
  }
 footer{
    text-align: center;
 }
 body{
    background-color: #FCFCFA
 }
