html {
  font-size: 16px;
  /* 16px defualt 값 */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 30px;
  height: 30px;
}

.navbar {
  background-color: #056cf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
}

.navbar_logo {
  color: #f25d07;
  font-weight: bold;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_logo .logo_btn{
  color: #f25d07;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_menu{
  flex: 6;
}
.navbar_menu ul{
  display: flex;
  justify-content: space-around ;
}
.navbar_links{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar_logo_image {
  margin-right: 8px;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul li:hover{
  background-color: #6d6d6d;
  border-radius: 5px;
  transform: translateX(-5px);
  cursor: pointer;
}

@media screen and (max-width: 800px){
  
  .navbar{
    flex-direction: column;
    padding: 1rem 0;
    height: 250px;
  }

  .navbar_menu ul{
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  ul li{
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 400px){
  .navbar_menu,
  .navbar_links {
    display: none;
  }
  
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }
  
}