/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  /* 버튼 클릭해서 해당 위치로 이동할시 제목이 안보이게 */
  scroll-margin-top: 100px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
/* Navbar안에 박스 2개 있는데 양쪽에 나올 수 있도록 flex 설정 */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  /* make transparent navbar */
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: all var(--animation-duration) ease-in-out;
  /* 무조건 navbar가 맨 위에 있어야 하므로 */
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar__logo__img {
  width: 80px;
  height: 80px;
}

.navbar__menu__item {
  padding: 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  /* border 사이즈때문에 text가 춤추는 느낌 제거 */
  border: 1px solid transparent;
  color: var(--color-white);
}

.navbar__menu__item:hover {
  border-color: white;
  background-color: var(--color-dark-pink);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  /* 평소에는 보여주면 안되니 (창이 작아질때만 보여질것) */
  /* opacity로 할경우는 마우스 클릭이 됨; */
  display: none;
}

/* Home */
#home {
  background: url("./imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
  padding-top: 100px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px 0;
  align-items: center;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  color: var(--color-blue);
  margin: auto;
  margin-bottom: 16px;
  font-size: 70px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.school__logo {
  width: 100px;
  height: 100px;
}

.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 30px;
}

.skill__bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-light-grey);
}

.skill__value {
  height: 3px;
  background-color: orange;
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  padding: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 7px;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  margin-left: 10px;
  /* 동그라미가 이쁘게 나오지 않는 이유는 span이기 때문입니다. */
  /* span은 컨텐츠를 꽉 감싸주는 사이즈로 정해주기 때문입니다. */
  width: 24px;
  height: 24px;
  display: inline-block;
  /* 중간정렬은 line-height을 현재 높이만큼 적용! */
  line-height: 24px;
  /* 애니메이션 이용 위에서 숫자가 떨어지게 만들어보기 */
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  /* 부모에 position: relative */
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

/* 가상 요소 선택자!! */
/* https://goddino.tistory.com/43 */
/* 이름과 설명 사이에 선 긋기(일일이 html 하나씩 선 추가할 필요 x) */
.project__description h3::after {
  content: " ";
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  /* left right 가능할려면 relative로 변경 */
  position: relative;
  left: 50%;
  /* margin-left: -12px; */
  transform: translateX(-50%);
  margin-top: 8px;
}

.project:hover .project__description {
  opacity: 1;
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 32px 0px;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speach-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speach-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speach-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights {
  color: white;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

/* contact__links:hover 하면 모두 커짐 한방에 i: hover로 해주어야함 */
.contact__links i:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
  color: var(--color-yellow);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--color-pink);
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  /* toggle navbar */
  .navbar__menu.open {
    display: block;
  }

  .navbar__toggle-btn {
    cursor: pointer;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .section {
    padding: 16px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .category__btn.selected .category__count {
    margin: auto;
  }

  .project {
    /* 화면을 매꿔주는 것 */
    flex-grow: 1;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
    /* order: 0; */
    /* order basis shrink 아이템들에 사용할 수 있는 것 */
    /* 기본 order는 0 */
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speach-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: var(--font-large);
  background-color: var(--color-pink);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  line-height: 70px;
  /* display: none; */
  opacity: 0;
  /* 불투명이긴 하지만 실제로 있는 요소이기 떄문에 안보이지만 누르면 이벤트 실행됨 */
  pointer-events: none;
  /* display: none을 했을떄 Transition은 정상 작동하지 않는다. */
  /* display 같은 경우는 완전히 없어졌다 나오는 거기 때문에 애니메이션 x */
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: all;
}
