.container-flex {
	display: flex;
	flex-flow: column wrap;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.item-flex {
  flex-basis: auto;
}

.container-flex-image {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 auto;
}

.item-flex-image {
  flex-basis: auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: stretch;
}

.item-grid {
  justify-self: stretch;
}


.content-box-text-title {
  color: blue;
  font-weight: bold;
  }

.content-box-text {
  font-size: 20px;
}

h2 {
  text-decoration: underline;
}

.tool-icon {
  width: 100px;
  height: 100px;
}



img { object-fit: cover; }

.info { background-color: lightgrey; }

.license { background-color: lightyellow; }

.academic { background-color: lightpink; }

.career { background-color: lightblue; }



footer { margin:0 auto; text-align:center; }