/* CSS 스타일시트 */
* {
  margin: 0;
}

.header {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  background-color: #333;
  color: #fff;
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

.add__form {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 100px;
}

.text__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.text__box input {
  margin-bottom: 5px;
  padding: 5px;
  width: 200px;
}

.btn__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btn__box button {
  margin-right: 10px;
  padding: 5px 10px;
}

/* card */

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  flex: 0 0 400px;
}

.card__container__img {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card__container__description {
  font-size: 16px;
}

.description__school {
  margin-bottom: 10px;
}

.description__school h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.description__school p {
  margin: 0;
}

.description__sns p {
  margin: 0;
}
