
body{
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.title-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  text-align: center;
}

.picture{
  background-color: white;
  width: 300px;
  height: 300px;

  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #D1D1D1;
}

.title-wrap{

}

.title-box-main{
  
}

.title-box-text{

}

.main-box{
  background-color: #f8f8f8;
  width: 60%;
  height: fit-content;

  margin: 30px auto;
  padding: 30px 30px 10px 30px;

  display: flex;
  flex-direction: column;

  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px #D1D1D1;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.content-box-text-title {
  font-weight: bold;
  text-align: left;
  margin-right: 10px;
}

.content-box-text {
  text-align: left;
}

.tool-box{

}

.tool-box-content {
	text-align: center;
}

.tool-icon {
  width: 100px;
  height: 100px;
  padding: 10px;
}

footer{
  margin: 30px auto;
  text-align: center;
}
