body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather {
    width: 200px;
    height: 300px;
    background-color: #f5f7fb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap_Logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    width: 80px;
    object-fit: cover;
}

.Logo:hover {
    cursor: pointer;
    transform: translateY(-3px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.main {
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.coL {
    height: 90px;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid skyblue;
    border-radius: 5px;
    background-color: #056cf2;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

.coL:hover {
    cursor: pointer;
    transform: translateY(-3px);
    animation-name: hovor;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}