@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.content-box-text-title {
  color: black;
  font-weight: bold;
  padding-right: 20px;
  font-family: 'Jua', sans-serif;
}

.picture {
  width: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px gray;
  margin-bottom: 30px;
}

.main-box {
  background-color: white;
  margin: 200px;
  padding: 80px;
  min-width: 1000px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px gray;
}

body {
  background-color: lightgray;
}

.title-box {
  display: flex;
  align-items: center;
}

.title-wrap {
  flex: 2;
  text-align: center;
  font-family: 'Jua', sans-serif;
}

h2{
  font-size: large;
  font-family: 'Jua', sans-serif;
}

.title-box-text {
  text-align: center;
}

p{
  font-family: 'Jua', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  gap: 30px;
}

.tool-icon {
  width: 80px;
  height: 80px;  
  margin-right: 15px;
}

.tool-box-content {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}

