.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }

  h1 em {
    font-style: normal;
    font-weight: 600;
  }

  .title h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .title h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .title h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  .inputData {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .content {
    border: 1px solid black;
    width: 320px;
    height: 150px;
    padding: 10px;
    margin: 10px;
  }

  .content-name {
    width: 120px;
    height: 150px;
    position: relative;
    float: left;
}

  .content-name p {
    margin: 0;
    text-align: center;
  }

  .content-role {
    float: right;
    width: 200px;
  }

  .content-role p {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .content-sns {
    margin-top: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .content-sns p {
    margin: 0;
    padding: 0;
    text-align: center;
  }