html {
  font-size: 16px;
  /* 16px defualt 값 */
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 30px;
  height: 30px;
}
button{
  background-color: transparent;
  border:none;
  cursor:pointer;
}
.navbar {
  background-color: #056cf2;
  display: flex;
  justify-content: space-between;
  /*수직선 기준으로 가운데 정렬을 하겠다.*/
  align-items: center;
  width: 100%;
}

.navbar_logo {
  flex: 1;
}
.navbar_logo .logo_btn{
  color: #f25d07;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_menu{
  flex: 6;
}
.navbar_menu ul{
  display:flex;
  justify-content: space-around;
}
.navbar_links{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar_logo_image {
  margin-right: 8px;
}
@media screen and (max-width:400px){
  .navbar_menu,
  .navbar_links{
    display:none;
  }
  .navbar_menu.active,
  .navbar_links.active{
    display:flex;
  }
}
@media screen and (max-width:800px){
  .navbar{
    flex-direction: column;
    padding: 1rem 0 ;
  }
  .navbar_menu ul{
    flex-direction: column;
    padding: 0px;
    text-align: center;
  }
  .nevbar_links{
    display:none;
  }
  ul li{
    padding-bottom: 5px;
  }
}
ul li:hover{
  background-color: #6d6d6d;
  border-radius: 5px;
  transform: translatex(-5px);
  cursor: pointer;
}