/* === BASE HEADING === */ 

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  /* === HEADING STYLE #1 === */
  .one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  /* 명함 입력 부분*/
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    border-radius: 30px;
    background-color: #cbcfd4f5;
    width: 400px;
    height: fit-content;
    border: 1px solid black;
}

.content {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.content p {
    text-align: center;
}

/* 이미지 입력 부분 */
